name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: windows-2022
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Build, Test & Pack
        run: ./build.cmd Test Pack

      - name: NuGet login
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: NuGet/login@v1
        id: nuget-login
        with:
          user: allors

      - name: Publish
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: ./build.cmd Publish
        env:
          NuGetApiKey: ${{ steps.nuget-login.outputs.NUGET_API_KEY }}
